:root {
  --red: #fc4747;
  --dark-blue: #10141e;
  --gray-blue: #5a698f;
  --light-blue: #161d2f;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: "Outfit", sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* NAV */
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  height: 90vh;
  border-radius: 20px;
  background-color: var(--light-blue);
  position: absolute;
  top: 32px;
  left: 32px;
}

.logo {
  height: 25.6px;
  width: 32px;
  margin-top: 35px;
}

.nav-icon-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 75px;
}

.home {
  filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(7297%)
    hue-rotate(228deg) brightness(110%) contrast(103%);
}

.nav-img-avatar {
  height: 40px;
  width: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 32px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  position: absolute;
  left: 164px;
}

.search-box {
  margin-top: 32px;
  display: flex;
}

.search-icon {
  height: 32px;
  width: 32px;
  margin-right: 24px;
  margin-bottom: 1.4rem;
}

.search-input {
  background-color: var(--dark-blue);
  border: none;
  color: var(--white);
  font-family: inherit;
  font-weight: 300;
  font-size: 2.4rem;
  caret-color: var(--red);
  letter-spacing: 2px;
  width: 1184px;
  padding-bottom: 1.4rem;
  border-bottom: 2px solid transparent;
  margin-bottom: 34px;
}

.search-input:focus {
  opacity: 1;
  border-bottom: 2px solid var(--gray-blue);
  outline: none;
}

/* SECTION TRENDING */
.section-heading {
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.trending {
  margin-bottom: 4rem;
}
.trending-scroll-box {
  width: 100%;
  overflow-x: scroll;
}

.trending-movies-box {
  margin-top: 2.5rem;
  display: flex;
  gap: 4rem;
  width: 150%;
}

.trending-movie {
  flex: 0 0 auto;
  display: inline-block;
  height: 230px;
  width: 470px;
  border-radius: 8px;
  background-size: cover;
  position: relative;
}

.trending-textbox {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.trending-movie-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.trending-movie-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

.trending-movie-list li:first-child {
  list-style: none;
}

.trending-bookmark {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 20, 30, 50%);
  position: absolute;
  right: 24px;
  top: 16px;
}

/* Recommended */

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  /* grid-template-rows: max-content; */
  column-gap: 4rem;
  grid-template-rows: auto;
  row-gap: 8rem;
  margin-top: 3.2rem;
}

.recommended-movie {
  width: 280px;
  height: auto;
  position: relative;
  border-radius: 8px;
}

.recommended-movie-img {
  width: 280px;
  height: 174px;
  border-radius: 8px;
  background-size: auto;
  background-position: center;
}

.recommended-bookmark {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 20, 30, 50%);
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 100;
}

.recommended-text-box {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 8px;
  height: 44px;
  gap: 5px;
  align-items: flex-start;
  position: absolute;
}

.recommended-movie-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.recommended-movie-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

.recommended-movie-list li:first-child {
  list-style: none;
}

.movie-bookmarked {
  margin-top: 8rem;
}

.overlay {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 280px;
  height: 174px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.overlay-btn {
  width: 117px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  border-radius: 28.5px;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.overlay-btn:hover {
  scale: 1.03;
  box-shadow: 0, 0, 0, 3, rgba(255, 255, 255, 0.6);
}
.overlay-btn:active {
  scale: 1;
  box-shadow: 0, 0, 5px, 7px, rgba(255, 255, 255, 0.6);
}

.play-img {
  height: 30px;
  width: 30px;
  margin-right: 1.5rem;
}

.overlay-text {
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.hide {
  opacity: 0;
}
